.dark button {
    background-color: inherit;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.dark #buttons {
    background-color: #242526;
}

.dark select {
    background-color: #242526;
    color: white;
}
