.heroBannerViewer {
    width: 900px;
    height: 550px;
    margin-top: 24px;
    margin-bottom: 48px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visButtons {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
}

.visButton {
    font-size: 12px;
    /* border: 1px solid  */
    border: 1px solid;
    padding: 8px;
    border-radius: 3px;
    margin-right: 2px;
    opacity: 0.3;
    cursor: pointer;
    text-transform: uppercase;
}

.timecontrols {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.timecontrols * {
    margin-right: 15px;
}

.timecontrols span {
    text-align: end;
    width: 70px;
    font-family: "Roboto Mono";
    opacity: 0.5;
    font-size: 12px;
}

.visButton.visButtonActive {
    opacity: 1;
}

.freqSlider {
    -webkit-appearance: none;
    background: transparent;
    border: 1px solid;
    width: 200px;
    height: 10px;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.freqSlider::-webkit-slider-thumb {
    background: var(--ifm-hero-background-color);
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid;
    cursor: pointer;
}

.freqSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* background: #04aa6d; */
    border-color: #fff;
    cursor: pointer;
}
