Checks: >
    -*,
    modernize-*,
    performance-*,
    readability-*,
    clang-analyzer-*,
    bugprone-*,
    portability-*,
    -modernize-use-trailing-return-type,
    -readability-identifier-length,
    -readability-magic-numbers,
    -bugprone-easily-swappable-parameters,
    -readability-convert-member-functions-to-static,
    -misc-const-correctness,
    -readability-function-cognitive-complexity

# WarningsAsErrors: "*"
