# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# npm lock file
package-lock.json

# Intellij/WebStorm IDE
*.iml
/.idea

# Visual Studio Code configuration
*.code-workspace
.history
/jsconfig.json

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pyd

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build artifacts
build
CMakeCache.txt
CMakeFiles
cmake_install.cmake
compile_commands.json
node_modules
*.mem
ftpsync.settings
*.log
Gemfile
Gemfile.lock
Vagrantfile
/packages/sigma
cmake-build-debug
/src/include/boost
obj
packages/*/cjs
cppbuild
docsbuild
tools/perspective-build/lib
packages/perspective-esbuild-plugin/lib
python/perspective/perspective/nbextension/static
python/perspective/perspective/labextension

# editor, IDE, OS
.DS_Store
.idea
rust/perspective-viewer/target.vscode
target.vscode
.vscode/c_cpp_properties.json

# docs
website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*
!website/i18n/en.json
website/static/css/material-dark.css
website/static/css/pro-dark.css

# test artifacts
.ipynb_checkpoints
.python-version
.pytest_cache
.mypy_cache
.coverage
coverage
screenshots/
junit.xml
results.debug.json

# CPP Compile
/src/include/boost
obj
packages/*/cjs
cppbuild
docsbuild

# docs generated
docs/.docusaurus
docs/_build
docs/i18n/en.json
docs/modules.rst
docs/perspective.*.rst
docs/python
docs/static/img/**/*
!docs/static/img/logo/
!docs/static/img/logo/**
docs/static/css/material-dark.css
docs/i18n/en.json
docs/.docusaurus
docs/static/blocks
docs/static/features
docs/static/arrow/
docs/static/js
docs/static/js/logo.js
docs/static/js/logo.js.map
docs/static/css/pro-dark.css

# other
package.json.bak
yarn.lock.bak

# Python
*.pyc
__pycache__/
py_modules

# Copied outer source folders
python/perspective/cmake
python/perspective/src
python/perspective/test
python/cmake
python/cpp
python/perspective/perspective_python.egg-info
python/perspective/perspective/tests/table/psp_test
python/perspective/perspective/node/assets/*
python/perspective/pip-wheel-metadata
python/perspective/python_junit.xml
python/perspective/coverage.xml
python/perspective/bench/stresstest/results
rust/perspective-viewer/target*
rust/perspective-viewer/target.vscode
rust/perspective-viewer/pkg

# config and deps
.perspectiverc
.emsdk
vcpkg
.vscode/c_cpp_properties.json

# jupyterlab test artifacts
packages/perspective-jupyterlab/test/config/jupyter/lab
packages/perspective-jupyterlab/test/config/jupyter/migrated