# -*- mode: gitignore; -*-
__pycache__/
!.vscode/extensions.json
!.vscode/perspective.code-snippets
!.vscode/settings.default.json
!.vscode/tasks.json
!website/i18n/en.json
.cache
.clangd
.DS_Store
.emsdk
.ipynb_checkpoints
.perspectiverc
.vscode/*
*.so
*~
/.emacs.desktop
/.emacs.desktop.lock
/.idea
/auto/
/docs/build
/elpa/
/eshell/history
/eshell/lastdir
/examples/*/build
/jsconfig.json
/packages/*/build
/packages/sigma
/server/
/src/include/boost
benchmark_venv
dist/
docs/.docusaurus
docs/i18n/en.json
docs/modules.rst
docs/perspective.*.rst
docs/static/arrow/
docs/static/blocks
docs/static/features
docs/static/guide
examples/blocks/src/nypd/nypdccrb.arrow
node_modules
packages/perspective-jupyterlab/test/config/jupyter/migrated
py_modules
python/cmake
python/cpp
rust/perspective-client/docs/expression_gen.md
rust/perspective-client/src/rust/proto.rs
rust/perspective-js/src/ts/ts-rs
rust/perspective-python/LICENSE_THIRDPARTY_cargo.yml
rust/perspective-python/LICENSE.md
rust/perspective-server/cmake
rust/perspective-server/cpp
rust/perspective-server/docs/lib_gen.md
rust/perspective-viewer/src/ts/ts-rs
rust/perspective/src/ts/ts-rs
rust/target*
Vagrantfile
vcpkg
venv/
rust/perspective-python/perspective_python-*.data
.pytest-cache/
docs/static/python
docs/static/node
docs/static/browser
docs/static/viewer
