*.ipynb linguist-documentation
docs/**/* linguist-documentation
python/perspective/notebooks/* linguist-documentation
python/perspective/docs/* linguist-documentation
results/*.json linguist-documentation
**/test/**/* linguist-documentation
**/tests/**/* linguist-documentation
examples/**/* linguist-documentation
scripts/* linguist-documentation
tools/**/* linguist-documentation
cmake/** linguist-documentation
CMakeLists.txt linguist-documentation
**/*.sh linguist-documentation

* text=auto eol=lf
