perspective-workspace {
    flex: 1
}

#container {
    flex: 1;
    display: flex;
}

input {
    margin: 12px 8px 4px 8px;
    padding: 8px;
    font-size: 24px;
    flex: 0 1;
    text-transform: uppercase;
    max-width: 600px;
}

perspective-viewer-datagrid regular-table {
    overflow-x: hidden;
}

perspective-viewer table {
    white-space: nowrap;
}

perspective-viewer tr,
perspective-viewer thead,
perspective-viewer tbody {
    display: inline-block;
}

perspective-viewer th,
perspective-viewer td { 
    display: block; 
}

body {
    background-color: #eee;
    display: flex;
    margin: 0;
    flex-direction: column;
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
}