include LICENSE
include README.md

include requirements.txt
include requirements-dev.txt
include setup.cfg
include pyproject.toml
include .bumpversion.cfg
include Makefile

# Source files for perspective-python
graft perspective
include perspective/table/libbinding.so
include perspective/table/libpsp.so
include perspective/table/libbinding.dll
include perspective/table/libpsp.dll
include perspective/table/libbinding.dylib
include perspective/table/libpsp.dylib


graft perspective/tests

# Documentation
graft docs
exclude docs/\#*

# docs subdirs we want to skip
prune docs/build
prune docs/gh-pages
prune docs/dist

# Webapp files
include package.json
include webpack.config.js
graft src
graft style

# C++ build
graft cmake
graft src
graft perspective/src
graft perspective/include
graft test
include CMakeLists.txt

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
