perspective-viewer[theme="Pro Light"],
perspective-viewer[theme="Pro Dark"] {
    --d3fc-positive--gradient: linear-gradient(#94d0ff,
            #8795e8,
            #966bff,
            #ad8cff,
            #c774e8,
            #c774a9,
            #ff6ad5,
            #ff6a8b,
            #ff8b8b,
            #ffa58b,
            #ffde8b,
            #cdde8b,
            #8bde8b,
            #20de8b);
}

#buttons>* {
    padding: 6px;
    margin: 5px;
}

button {
    background-color: inherit;
    cursor: pointer;
}

button:hover {
    border: 1px solid #00f !important;
}

body {
    overflow: hidden;
}

#message {
    font-family: monospace;
}

#buttons {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 36px;
}

a {
    text-transform: uppercase;
    font-size: 10px;
}

button, select {
    border-radius: 5px;
}

#content {
    position: absolute;
    top: 36px;
    bottom: 36px;
    left: 0px;
    right: 0px;
}

.lm-DockPanel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin-left: 6.5px;
}

perspective-viewer {
    height: 100%;
}
