#drop-area {
    border: 5px dashed #ccc;
    border-radius: 15px;
    width: 480px;
    font-family: sans-serif;
    margin: 100px auto;
    padding: 48px;
    color: #666;
}

#drop-area.highlight {
    border-color: cornflowerblue;
    color: #000;
}

p {
    margin-top: 0;
}

.my-form {
    margin-bottom: 10px;
}

#gallery {
    margin-top: 10px;
}

#gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background: cornflowerblue;
    color: white;
}

#fileElem {
    display: none;
}

perspective-viewer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}