aiohttp==3.8.6
aiosignal==1.3.1
alabaster==0.7.13
annotated-types==0.5.0
anyio==3.7.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
async-timeout==4.0.3
asynctest==0.13.0
attrs==23.1.0
Babel==2.13.1
backcall==0.2.0
beautifulsoup4==4.12.2
black==23.1.0
bleach==6.0.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.3.2
click==8.1.7
comm==0.1.4
coverage==7.2.7
debugpy==1.7.0
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
docutils==0.17.1
entrypoints==0.4
exceptiongroup==1.1.3
Faker==18.13.0
fastapi==0.103.2
fastjsonschema==2.18.1
flake8==5.0.4
flake8-black==0.3.6
frozenlist==1.3.3
future==0.18.3
h11==0.14.0
html5lib==1.1
httpcore==0.17.3
httpx==0.24.1
idna==3.4
imagesize==1.4.1
importlib-metadata==4.2.0
importlib-resources==5.12.0
iniconfig==2.0.0
ipykernel==6.16.2
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets==8.1.1
jedi==0.19.1
Jinja2==3.1.2
json5==0.9.14
jsonschema==4.17.3
jupyter-server==1.24.0
jupyter_client==7.4.9
jupyter_core==4.12.0
jupyter_packaging==0.12.3
jupyterlab==3.5.3
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab_server==2.15.2
MarkupSafe==2.1.3
matplotlib-inline==0.1.6
mccabe==0.7.0
mistune==3.0.2
multidict==6.0.4
mypy-extensions==1.0.0
nbclassic==1.0.0
nbclient==0.7.4
nbconvert==7.6.0
nbformat==5.8.0
nest-asyncio==1.5.8
notebook==6.5.6
notebook_shim==0.2.3
numpy==1.21.6
packaging==23.2
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.11.2
pexpect==4.8.0
pickleshare==0.7.5
pkgutil_resolve_name==1.3.10
platformdirs==3.11.0
pluggy==1.2.0
prometheus-client==0.17.1
prompt-toolkit==3.0.39
psutil==5.9.6
ptyprocess==0.7.0
pyarrow==12.0.1
pybind11==2.11.1
pycodestyle==2.9.1
pycparser==2.21
pydantic==2.4.2
pydantic_core==2.10.1
pyflakes==2.5.0
Pygments==2.16.1
pyrsistent==0.19.3
pytest==7.4.3
pytest-aiohttp==1.0.5
pytest-asyncio==0.21.1
pytest-cov==4.1.0
pytest-tornado==0.8.1
pytest_check_links==0.8.0
python-dateutil==2.8.2
pytz==2023.3.post1
pyzmq==24.0.1
requests==2.31.0
Send2Trash==1.8.2
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.4.1
Sphinx==4.3.2
sphinx-markdown-builder==0.6.5
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
starlette==0.27.0
tabulate==0.9.0
terminado==0.17.1
tinycss2==1.2.1
tomli==2.0.1
tomlkit==0.12.2
tornado==6.2
traitlets==5.9.0
typed-ast==1.5.5
typing_extensions==4.7.1
urllib3==2.0.7
wcwidth==0.2.9
webencodings==0.5.1
websocket-client==1.6.1
widgetsnbextension==4.0.9
yarl==1.9.2
zipp==3.15.0
