/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {}

@media only screen and (min-width: 1024px) {
    body {
        left: 0;
        right: 0;
    }
}

@media only screen and (max-width: 1023px) {}
@media only screen and (min-width: 1400px) {}
@media only screen and (min-width: 1500px) {}

body {
    position: absolute; /* mobile fix */
}

.nav-footer {
    background: #242526;
}

.darkBackground, .darkBackground perspective-viewer {
    background-color: #242526 !important;
}

.imageAlignTop .blockImage {
    max-width: 100%;
}

.homeContainer .buttonWrapper.selected a {
    border: 1px solid #f9f9f9;
    color: #f9f9f9 
}

.homeContainer .button:hover {
    background: #242526;
}

.imageAlignSide .blockImage {
    flex: 0 1 50%;
    margin-top: 82px;
    max-width: 10000px;
}

.imageAlignSide .blockImage > * {
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.titleViewer {
    font: initial;
    font-family:Arial;
    margin-top:24px;
    margin-bottom:48px;
    position:relative;
    display:inline-block;
    width:100%;
    height:600px;
    text-align: initial;
    vertical-align: center;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
    max-width: 1000px;
    border: none;
    word-wrap: normal;
}

.titleViewer ul {
    background: none !important;
}

.fixedHeaderContainer {
    background: #242526 !important;
}

.post h1, .post h2, .post h3, .post h4, .post h5, .post h6 {
    color: #1A7DA1 !important;
}

h2.headerTitle {
    font-family: "Public Sans", Arial, Helvetica, sans-serif;
    color: #f9f9f9 !important;
    transition: opacity 0.1s ease-in;
}

.fixedHeaderContainer header h2.headerTitleWithLogo {
    display: none;
}

.sideNavVisible .logo {
    opacity: 1;
}

.logo {
    font-family: "Public Sans", Arial, Helvetica, sans-serif;
    height: 50% !important;
    opacity: 0;
    transition: opacity 0.2s;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.youtube {
    position:relative;
    width:100%;
    height:0;
    padding-bottom: 56%;
}

.youtube iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.homeContainer {
    background-color: #242526;
    padding-bottom: 96px;
}

.projectTitle small {
    margin: 0em 0 2em;
}

.homeContainer .projectTitle {
    color: #f9f9f9;
    font-family: "Public Sans";
}

.homeContainer .projectTitle i {
    font-size: 18px;
}

.homeContainer .buttonWrapper a {
    border: 1px solid #666;
    color: #666;
    cursor: default; 
}

.nav-footer a {
    color: #f9f9f9 !important;
}

.nav-footer a:hover {
    color: #1A7DA1 !important;
}

#get_started {
    background: #242526;
    color: white;
}

#get_started pre {
    border: 1px solid #333;
}

.homeContainer perspective-viewer, perspective-viewer {
    --d3fc-full--gradient: linear-gradient(#4d342f 0%, #e4521b 22.5%, #feeb65 42.5%, #f0f0f0 50%, #dcedc8 57.5%, #42b3d5 67.5%, #1a237e 100%);
    --d3fc-positive--gradient: linear-gradient(#222222 0%, #1a237e 35%, #42b3d5 70%, #dcedc8 100%);
    --d3fc-negative--gradient: linear-gradient(#feeb65 0%, #e4521b 35%, #4d342f 70%, #222222 100%);
    --highcharts-full--gradient: linear-gradient(#feeb65 0%, #e4521b 22.5%, #4d342f 42.5%, #222222 50%, #1a237e 57.5%, #42b3d5 67.5%, #dcedc8 100%);
    --highcharts-positive--gradient: linear-gradient(#222222 0%, #1a237e 35%, #42b3d5 70%, #dcedc8 100%);
    --highcharts-negative--gradient: linear-gradient(#feeb65 0%, #e4521b 35%, #4d342f 70%, #222222 100%);  
}

.blockContent {
    color: #242526 !important;
    counter-reset: list-counter;
}

.blockContent a {
    text-decoration: underline;
}

.blockContent perpsective-viewer {
    --plugin--box-shadow: none !important;
}

.productShowcaseSection .logos img {
    width: auto;
    max-height: 10000px;
    padding: 0px;
    margin: 20px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.productShowcaseSection .logos a {
    flex: 1 1 300px;
}

perspective-viewer {
    border: none !important;
}

ol li {
    list-style-type: none;
    counter-increment: list-counter;
}

ol li::before {
    content: counter(list-counter) ".";
    font-weight: bold;
    margin-right: 0.5rem;
    font-family: "Public Sans", Arial, Helvetica, sans-serif;
    line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Public Sans", Arial, Helvetica, sans-serif;
}

h1, h2 {
    margin-top: 1em;
}

p, span, oi, li {
    font-family: "Public Sans", Arial, Helvetica, sans-serif;
}

code *, pre * {
    font-family: "Roboto Mono", monospace;
}

a {
    color: #1A7DA1;
}

a.toggle-language {
    margin-bottom: 12px;
}

pre code.hljs {
    margin-top: 0.5em;
}

.blockContent code.hljs.css.language-bash {
    background: #000000;
    color: #fff;
}