/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.promoSection .buttonWrapper {
   transition: color 0.2s ease-in-out;
}

.nav-footer {
    background: #242526;
}

.homeContainer .buttonWrapper.selected a {
    border: 1px solid #f9f9f9;
    color: #f9f9f9 
}

.homeContainer .button:hover {
    background: #242526;
}

.titleViewer {
    margin-top:24px;
    margin-bottom:48px;
    position:relative;
    display:inline-block;
    width:100%;
    height:600px;
    text-align: initial;
    vertical-align: center;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
    max-width: 1000px;
    border: none;
    word-wrap: normal;
}

.titleViewer ul {
    background: none !important;
}

.titleViewer {
    font: initial;
    font-family:Arial;
}

.fixedHeaderContainer {
    background: #242526 !important;
}

.post h1, .post h2, .post h3, .post h4, .post h5, .post h6 {
    color: #1A7DA1 !important;
}

h2.headerTitle, h2.headerTitleWithLogo {
    font-family: "Montserrat";
    color: #f9f9f9 !important;
    transition: opacity 0.1s ease-in;
}

.mainContainer .blockImage img {
    width: 100px;
}

.homeContainer {
    background-color: #242526;
    padding-bottom: 96px;
}

.homeContainer .projectTitle {
    color: #f9f9f9;
    font-family: "Montserrat";
}

.homeContainer .projectTitle i {
    font-size: 18px;
}

.homeContainer .buttonWrapper a {
    border: 1px solid #666;
    color: #666;
    cursor: default; 
}

.nav-footer a {
    color: #f9f9f9 !important;
}

.nav-footer a:hover {
    color: #1A7DA1 !important;
}

.darkBackground a {
    color:#222;
}

#get_started {
    background: #242526;
    color: white;
}

#get_started pre {
    border: 1px solid #333;
}

.homeContainer perspective-viewer, perspective-viewer {
    --d3fc-full--gradient: linear-gradient(#4d342f 0%, #e4521b 22.5%, #feeb65 42.5%, #f0f0f0 50%, #dcedc8 57.5%, #42b3d5 67.5%, #1a237e 100%);
    --d3fc-positive--gradient: linear-gradient(#222222 0%, #1a237e 35%, #42b3d5 70%, #dcedc8 100%);
    --d3fc-negative--gradient: linear-gradient(#feeb65 0%, #e4521b 35%, #4d342f 70%, #222222 100%);
    --highcharts-full--gradient: linear-gradient(#feeb65 0%, #e4521b 22.5%, #4d342f 42.5%, #222222 50%, #1a237e 57.5%, #42b3d5 67.5%, #dcedc8 100%);
    --highcharts-positive--gradient: linear-gradient(#222222 0%, #1a237e 35%, #42b3d5 70%, #dcedc8 100%);
    --highcharts-negative--gradient: linear-gradient(#feeb65 0%, #e4521b 35%, #4d342f 70%, #222222 100%);  
}

.blockContent perpsective-viewer {
    --plugin--box-shadow: none !important;
}

perspective-viewer {
    border: none !important;
}


#psp1 {
    margin-bottom: -48px;
    margin-right: -48px;
}
.blockContent {
    counter-reset: list-counter;
}

ol li {
    list-style-type: none;
    counter-increment: list-counter;
}

ol li::before {
    content: counter(list-counter) ".";
    font-weight: bold;
    font-size: 2rem;
    margin-right: 0.5rem;
    font-family: "Montserrat", Helvetica;
    line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", Helvetica;
}
  