@import "~@finos/perspective-workspace/dist/css/pro-dark.css";
@import "~@finos/perspective-viewer/dist/css/themes.css";

body {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
