@import (less) "regular-table/src/less/material.less";
@import (less) "regular-table/dist/examples/perspective.css";

// Row Selection

.psp-row-selected, :hover .psp-row-selected, :hover th.psp-tree-leaf.psp-row-selected, :hover th.psp-tree-label.psp-row-selected {
    color: black !important;
    background-color: #EA7319;
}

.psp-row-selected.psp-tree-label:not(:hover):before {
    color: black;
}

.psp-row-subselected, :hover .psp-row-subselected, :hover th.psp-tree-leaf.psp-row-subselected, :hover th.psp-tree-label.psp-row-subselected  {
    background: rgba(234, 115, 25, 0.2);
}

.psp-error {
    color: red;
}

td:focus {
    outline: #666;
    outline-style: dotted;
    outline-width: 1px;
}

perspective-viewer.dragging regular-table {
    pointer-events: none;
}